<%= link_to "Regresar", :back %>

<h1>Crear de Areas</h1>

<%= form_for @area do |f| %>

  <div>
    <%= f.label :image_area %>
    <%= f.text_field :image_area %>
  </div>
  <div>
    <%= f.label :title_area %>
    <%= f.text_field :title_area %>
  </div>
  <div>
    <%= f.submit %>
  </div>
  
<% end %>
