<!DOCTYPE html>
<html>
  <head>
    <%= stylesheet_link_tag "log_in" %>
    <title>Log in</title>
  </head>
  <body>
    <main class="main-new">
      <section class="izquierda">
        <h2 class="centrar">Iniciar Sesión</h2>

        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="field centrar">
            <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Correo", class: "casilla" %>
          </div>

          <div class="field centrar">
            <%# f.label :password %><br />
            <%= f.password_field :password, autocomplete: "current-password", placeholder: "contraseña", class: "casilla" %>
          </div>
          <br>

          <% if devise_mapping.rememberable? %>
            <div class="field">
              <%= f.check_box :remember_me %>
              <%= f.label "recuerdame" %>
            </div>
          <% end %>
          <br>

          <div class="actions centrar">
            <%= f.submit "Entrar" %>
          </div>
        <% end %>
        <br>

        <div class="links-home">
          <%= render "devise/shared/links" %>
        </div>
      </section>

      <section class="derecha">
        <%= image_tag "logoSena.png", class: "logoSena" %>
        <h1>SENA</h1>
        <p>309093093</p>
      </section>
    </main>
  </body>
</html>