<html>
  <head>
    <%= stylesheet_link_tag "registrar" %>
    <title>Editar contraseña</title>
  </head>
  <body>
    <main class="main-registrar">
      <section class="centro-registrar">
        <h2 class="centrar-registrar">Olvidaste tu contraseña?</h2>

        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>

          <div class="field">
            <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Correo Electronico", class: "casilla-registrar" %>
          </div>

          <div class="actions centrar">
            <%= f.submit "Send me reset password instructions", class: "btn" %>
          </div>
        <% end %>
        <br>
        
        <div class="links-home">
          <%= render "devise/shared/links" %>
        </div>
      </section>
    </main>
  </body>
</html>
