<!DOCTYPE html>
<html>
  <head>
    <title>AppSenaBackend</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    
      <main class="main-home">
        <header>
          <nav class="nav-home">
            <%= image_tag "logoSena.png", class: "miniLogoSena" %>
            <span class="span-cerrar">
              <%= link_to "Cerrar Sesión", destroy_user_session_path, method: :delete, class: "btn-cerrar" %>
            </span>
          </nav>
        </header>

        <%# Aquí hay una etiqueta <section> invisible, al que solo lo llamamos en css %>

      <%= yield %>

        <footer>
          <b>Versión 1.0</b>
        </footer>
      </main>
  </body>
</html>
